{% extends 'admin_theme/base.html' %}{% load static%}{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  {% if messages %}
    <div class="row" style="justify-content: center;">
      <div class="col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div style="margin:15px 0px" class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p style="margin-bottom: 0px;">{{ message }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  <form action="" method="post">
  {% csrf_token %}
        <table class="table">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>mobile_no</th>
                <th>gender</th>
                <th>email</th>
                <th>countryId</th>
                <th>stateId</th>
                <th>Update</th>
                <th>Delete</th>
                
              </tr>
               <td>{{GetData.email}}</td>
              
                {% for i in GetData %}
              <tr>             
                <td>{{i.Firstname}}</td>
                <td>{{i.Lastname}}</td>
                <td>{{i.mobile_no}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.email}}</td>
                <td>{{i.countryId}}</td>
                <td>{{i.stateId}}</td>

                <td><a href="{% url 'userpanelfront:updateUser' i.id %}" style="text-decoration:none">update</a></td> 
                <td><a href="{% url 'userpanelfront:deletedata' i.id %}" style="text-decoration:none">delete</a></td> 
              </tr>
              {% endfor %}
          </table>
        </form>
    </body>
</html>
{% endblock %}


                  