<!-- <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/crudpro/static/login.css"> -->
<!-- {% load static %} -->

<!-- <link rel="stylesheet" href="{% static 'login.css' %}"/> -->

<main>
  <section class="container">
    <!-- login
    <div class="login">

      <i class="fas fa-sign-in-alt"></i>
      <strong>Welcome!</strong>
      <span></span>

      <form>
        <fieldset>
          <div class="form">
            <div class="form-row">
              <i class="fas fa-user"></i>
              <label class="form-label" for="input" >Name</label>
              <input type="text" class="form-text" placeholder="enter your name">
            </div>
            <div class="form-row">
              <i class="fas fa-eye"></i>
              <label class="form-label" for="input">Password</label>
              <input type="text" class="form-text" placeholder="enter password">
            </div>
            <div class="form-row bottom">
              <div class="form-check">
                <input type="checkbox" id="remenber" name="remenber" value="remenber">
                <label for="remenber">remenber me?</label>
              </div>
              <a href="" class="forgot">forgot password?</a>
            </div>
            <div class="form-row button-login">
              <button class="btn btn-login">Sign in <i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </fieldset>
      </form>
    </div> -->

    <!-- register -->
    <div class="register">
      <i class="fas fa-user-circle"></i>
      <strong>Sign In</strong>
      
      <form action="" method="post">
        <!-- {% csrf_token %} -->
        <fieldset>
          <div class="form">

            <div class="form-row">
              <i class="fas fa-envelope"></i>
              <label class="form-label" for="input">E-mail</label>
              <input type="text" name="email" id="email" class="form-text" placeholder="enter your e-mail">
            </div>
            <div class="form-row">
              <i class="fas fa-lock"></i>
              <label class="form-label" for="input">Password</label>
              <input type="password" name="password" id="password"  class="form-text" placeholder="enter a password">
            </div>
            <div class="form-row button-login">
              <button class="btn btn-login">Sign in <i class="fas fa-arrow-right"></i></button>
            </div>
                
            <div class=""> 
              <a link href="google.com">paasword</a> 
            </div>
        </div>

          </div>
        </fieldset>
      </form>



      </div>
    </div>
  </section>
</main>

   <!-- <div style="display: block; margin: 0 auto; text-align: center; margin-top: 50px">
      <script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCpXTlrDWlpN46PKieJ-FcPw" data-layout="full" data-count="hidden"></div>
   </div>

<div style="margin: 50px 0; display: flex; align-items: center; justify-content: center; width: 100%">
  
    <a style="display: block; text-align:  center; color: #555; text-decoration: none; margin-right: 15px; " href="https://www.cupcom.com.br/" target="_blank"><i class="fas fa-home" style="color: #1da1f2; margin-right: 5px;"></i>cupcom.com.br</a>

</div> -->

